nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* padding:0 5%; */
    justify-content: space-between;
}

label.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 5px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  }
  
  .checkbtn {
    font-size: 22px;
    color: black;
    cursor: pointer;
    z-index: 1;
    display: none;
}
  
  #check {
    display: none;
  }
  .click
  {
    height: fit-content;
  }
  .start
  {
    white-space: nowrap;
    width: fit-content;
    border-radius:10px;
    font-weight:bold;
    background-color: #e47d22;
  }
  .more
  {
    white-space: nowrap;
    border-radius:10px;
    font-weight:bold;
    background-color: white;
  }

/* MOBILE STYLES */
@media (max-width: 768px) {
  nav{
     display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 5%;
  }
  label.logo {
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  display: none;
}
  nav ul {
    display: flex;
    z-index: 1001;
    flex-direction: column;
    background-color: #333333;
    color: white;
  }

  #menu-toggle:checked ~ .nav {
    left: 0;
  }

  /* Overlay */
  .overlay {
    display: none;
  }

  #menu-toggle:checked ~ .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  /* Hide nav on large screens */
  .nav ul {
    gap: 30px;
  }
.checkbtn{
  position: absolute;
}
}
@media (max-width: 1050px) {
    label.logo {
      padding-left: 30px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  @media (max-width: 890px) {
    .checkbtn {
      z-index: 1002;
      display: block;
    }
    }
  /* Responsive media query code for small screen */
  @media (max-width: 890px) {
    .checkbtn {
      display: block;
    }
  
    label.logo {
      font-size: 22px;
    }
  
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background:white;
      top: 0;
      right: 100%;
      text-align: center;
      transition: right 2s ease, all 1s ease;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      color: white;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
      color: white;
    }
  
    a:hover,
    a:active {
      background: none;
    }
  
    #check:checked~ul {
      right: 0;
      width: 100%;
    }
  }